.post {
	display: flex;
	flex-direction: column;
	gap: 16px;

	&__title {
		font-size: 20px;
		color: rgb(255, 52, 52);
	}

	&__text {
		text-align: justify;
		color: black;
		&__dark_theme {
			color: white;
		}
	}

	&__footer {
		position: relative;
		display: flex;
		justify-content: space-between;
	}

	&__date {
		position: absolute;
		right: 0;
		display: flex;
		justify-content: end;
		color: rgb(179, 179, 179);
	}
}
