.backgrond[data-theme="light"] {
	background-color: white;
}
.backgrond[data-theme="dark"] {
	background-color: #141414;
}

.post-list {
	display: flex;
	flex-direction: column;
	gap: 45px;
	min-height: 100vh;
	padding: 30px;
	&[data-theme="dark"] {
		background-color: #222222;
	}
}

.heading {
	display: flex;
	justify-content: center;
	color: white;
}
