* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px;
	width: 100%;
	height: 100%;
}

.theme_outer_wrapper {
	&__dark {
		background-color: #141414;
		overflow: auto;
	}
}

.theme_inner_wrapper {
	&__dark {
		background-color: #222222;
		color: white;
	}
}

.main_layout {
	display: grid;
	grid-template-rows: auto 1fr auto;
  height: auto;
	min-height: 100vh;
}
